
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(249, 250, 248);
}

/* ----------Header--------- */

.header{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 
  0 1px 2px 0 rgba(0, 0, 0, 0.06);

  border: 1px solid red;
  background-color: white;
}

.header img{
  width: 3rem;
  height: auto;
}

.header h1{
  padding-left: 1rem;
  font-weight: 400;
}
/* ----------Form---------- */
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  border: 1px solid green;
}

.form input{
  margin: 0 0.5rem;
  padding-left: 0.5rem;
  width: 40%;
  height: 2rem;

  border-radius: 5px;
  border: 0.5px solid gray;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 40%;
  max-width: 50%;
}
/* Button */
.form button{
  margin: 0 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 200;

  background-color: black;
  color: white;
  border-radius: 5px;
  border-style: none;

  width: 40%;
  height: 2rem;
  white-space: nowrap;
  text-wrap: none;
  text-overflow: ellipsis; /*Adds and ellipsis when shrinking*/
  overflow-x: hidden; /*Hides overflow*/

  transition: 0.2s;
}

.form button:hover{
  cursor: pointer;
  background-color:rgb(165,86,64);
}

/* get recipi */
.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}